.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ctryChecked {
  color: #234884;
  background-color: white;
}

.catChecked {
  color: #234884;
  background-color: white;
}

#choiceDiv {
  background-color: lightsteelblue;
  text-align: center;
  color: white;
  font-size: large;
}
#catDiv {
  text-align: center;
  display: inline;
}

#ctryDiv {
  text-align: center;
  display: inline;
}

#ctryDiv > button {
  //font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

#catDiv > button {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

/*.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}*/

button {
  font-weight: bold;
  padding: 8px;
  background-color: lightsteelblue;
  color: white;
  border: none;
  outline: none;
  font-size: large;
}

button:hover {
  text-decoration: underline;
  color: #234884;
  background-color: white;
}

footer {
  background-color: lightsteelblue;
  text-align: center;
  color: white;
  font-size: large;
  margin:0;
  height: 50px;
}

footer > p {
  padding-top: 10px;
}
