.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ctryChecked{
  color: blue;
}

.catChecked{
  color: blue;
}

#catDiv{
    text-align: center;
}

#ctryDiv {
    text-align: center;
}

#ctryDiv > button {
    //font-size: 30px;
    margin: 20px;
    text-decoration: none;
}

#catDiv > button {
    //font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}


