html{
  font-family: 'Libre Baskerville', serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif Caption', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'PT Serif Caption', serif;
}

h1{
  color: #234884;
  font-size: 40px;
  text-align: center;
}

h2{
  color: #234884;
  font-size: 25px;
  text-align: center;
}

nav{
  text-align: center;
}

nav > a {
  font-size: 30px;
  margin: 20px;
  text-decoration: none;
  color: #7f2d0a;
}
nav > a:hover{
  color: #234884;
}
.articles{
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

/* .article:hover{
  border: 2px solid #234884;
  border-radius: 4px;
} */
.article{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  top:0px;
  margin:50px;
  padding: 5px;
  width:90%;
}

.article > a{
  font-weight: bold;
  text-decoration: none;
  color:#234884;
}

.articleimg{
  width: 100%;
  height: 600px;
}
footer{
  margin: 10px;
}
